// Specific CSS for your home-page
.banner {
  height: 95vh;
  background-color: $light-green;
  padding-top: 100px;
}

.step > img {
  width: 200px;
  height: 300px;
}

.home-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-items: center;
}


.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 400px; /* height of your footer */
}
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
body{
  background-color: $light-green;
}

.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;

  .carousel_track-container {
    background: $dark-green;
    height: 100%;
    position: relative;
  }

  .carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  i {
    color: $call-to-action;;
  }

  .fa-user {
    font-size: 3rem;
  }

  p {
    color: white;
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;

    .fa-chevron-left, .fa-chevron-right {
      color: $dark-green;
      width: 12px;
    }
  }

  .carousel_nav {
    background-color: pink;
  }

  .carousel_indicator {
    border: 0;

  }
}
