// Specific CSS for your home-page
.banner {
  background-color: $light-green;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

// .z-index{
//   position:absolute;
//   z-index: 1;
//   margin-left: 25%;
// }

.buttons {
  z-index: 2;
}

.banner-text > p {
  font-size: 45px;
}
#home1{
  position: absolute;
  top: 105px;
  right: -200px;
  z-index: -100;
}
#home2{
  position: absolute;
  top: 400px;
  left: -10px;
  z-index: -100;
}
#home3{
  position: absolute;
  top: 700px;
  right: -50px;
  z-index: -100;

}

.step > img {
  width: 200px;
  height: 300px;
}

.home-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-items: center;
}


.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 400px; /* height of your footer */
}
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 z-index: 1;
}
body{
  background-color: $light-green;
}
