#properties-index {
  a {
    color: $dark-green;
  }

  a:hover {
    text-decoration: none;
  }

  .btn-submit {
    width: 150px;
  }
}

#properties-container {
  margin-top: 5rem;

  .card-index {
    background-color: white;
  }
}
