#properties-container {

  header {
    color: white;
    background-color: $light-green;
    z-index: 1;
    padding-top: 200px;
    padding-bottom: 1.25rem;
  }

  .cards-index {
    margin: -1rem;
  }

  .card-index {
    color: $dark-green;
    text-decoration: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 2rem;
    text-align: center;

    :nth-last-child(2) {
      flex-grow: 1;
    }

    .btn-submit {
      align-self: center;
      margin-bottom: -1rem;
    }
  }

  .card-index .btn-submit {
    left: auto;
    bottom: auto;
    transform: none;
  }
}

#query {
  width: 300px;
  margin-bottom: 16px;
  border: $call-to-action;
  border-style: solid none solid solid;
  font-size: .9rem;
}

.search {
  display: flex;
  justify-content: center;

  input, button {
    height: 40px;
    margin: 8px 0;
  }

  input:focus-visible {
    outline: none;
  }

  input:focus {
    box-shadow: none;
  }

  i {
    color: white;
    padding-left: 2px;
  }

  .btn-search {
    color: $white;
    border: none;
    background-color: $call-to-action;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
