#properties-index {
  a {
    color: $dark-green;
  }

  a:hover {
    text-decoration: none;
  }

  .btn-submit {
    width: 150px;
  }
}

#properties-container {
  margin-top: 5rem;

  .cards-index {
    margin: -1rem;
  }

  .card-index {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 2rem;

    :nth-last-child(2) {
      flex-grow: 1;
    }

    .btn-submit {
      align-self: center;
      margin-bottom: -1rem;
    }
  }

  .card-index .btn-submit {
    left: auto;
    bottom: auto;
    transform: none;
  }
}

#query {
  width: 300px;
  margin-bottom: 16px;
}

.search {
  display: flex;
  justify-content: flex-start;

  input, button {
    height: 30px;
    color: white;
  }

  i {
    color: white;
  }

  button {
    background-color: $call-to-action;
  }
}
