.rating-slider {
  background-color: $green;
  height: 1rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  max-width: 20rem;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--rating);
    background-color: $call-to-action;
  }
}

#property-container {
  margin-top: 7rem;

  .card-show {
    @include media-breakpoint-up(md) {
      text-align: left;
      padding: 0 3rem;
      border-radius: 10px;
    }
  }

  h1 {
    padding-top: 1rem;

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }

  .landlord {
    font-size: 1.1rem;

    a {
      color: black;
    }

    a:hover {
      text-decoration: none;
       color: white;
      background-color: $call-to-action;
      border: 1px 1px $call-to-action;
      border-radius: 10px;
      padding: 4px;
    }
  }

  .prop-info {
    span {
      font-weight: bold;
    }

    i {
      color: $call-to-action;
      padding-right: 4px;
    }
  }

  .prop-img-map {
    img {
      border-radius: 5px;
      padding-bottom: 8px;
    }

    #map {
      height: 300px;
      border-radius: 5px;
    }

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        width: 49%;
      }

      #map {
        height: auto;
        width: 49%;
      }
    }
  }

  .score {
    @include media-breakpoint-up(md) {
      font-size: 1.2rem;
    }
  }
  .prop-rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > div {
      width: 100%;
      margin-bottom: 1rem;
      @include media-breakpoint-up(md) {
        width: 45%;
        display: flex;
        justify-content: space-between;
      }
    }

    p {
      margin: 0;
    }

    .rating-slider {
      margin: .25rem auto 0;
      @include media-breakpoint-up(md) {
        margin: .25rem;
      }
    }
  }

  .reviews {
    padding: 0;
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 8px auto;

    li {
      width: 100%;
      border-radius: 5px;
      background-color: $green;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      padding: 0 5px;
      @include media-breakpoint-up(md) {
        width: 45%;
      }
    }

    a {
      color: inherit;
      text-decoration: inherit;
      font-weight: normal;
    }

    header {
      display: flex;
      padding-top: 8px;
      margin-bottom: 16px;

      div {
        flex-grow: 1;
      }
    }

    .review-user-name {
      font-size: .8rem;
      padding-right: 1px;
    }

    .review-date {
      font-size: .7rem;
    }

    i {
      color: $call-to-action;

      @include media-breakpoint-down(md) {
        font-size: 0.8em;
      }
    }

    img {
      width:50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 8px;
    }
  }

  .review-link {
    margin: 40px auto -15px;
    text-align: center;
  }
}

.show-title, .show-overal-mob{
  visibility: hidden;
  display: none;
}

@media screen and (max-width: 600px) {
  .hidden-mob{
    visibility: hidden;
    display: none;
  }

  .show-overal-mob{
    padding-top: 100px;

  }

  .show-title, .show-overal-mob{
    visibility: visible;
    display: flex;
    flex-direction: column;
  }

  .show-mob{
    padding-top: 2rem;
  }
}

.review-comments {
  font-size: 1.2rem;
}

.create-review {
  .modal-content {
    max-width: 700px;
    border-radius: 12px;
  }
}

