#property-container {
  margin-top: 7rem;

  .card-show {
    text-align: left;
  }

  .prop-info {
    span {
      font-weight: bold;
    }

    i {
      padding-right: 4px;
      color: $call-to-action;
    }
  }

  .landlord {
      font-size: 1.1rem;

      a {
        color: black;
      }

      a:hover {
        text-decoration: none;
      }
    }

  .score {
    font-size: 1.2rem;
  }

  .reviews {
    padding: 0;
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 8px auto;

    li {
      width: 45%;
      border-radius: 5px;
      background-color: $green;
      display: flex;
      flex-direction: column;

      header {
        display: flex;
        padding-top: 8px;
        margin-bottom: 16px;

        div {
          flex-grow: 1;
        }
      }
    }

    i {
      color: white;
    }
  }

  .reviews img {
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
  }
}

.review-link {
    margin-top: 20px;
  }
