<div class="container">
  <div class="row">

    <div class="col">
      <h1>Properties</h1>
      <% @properties.each do |property| %>
      <p> <%= property.address %></p>
      <p><%= link_to 'see more', property_path(property) %></p>
      <% end %>
    </div>

    <div id="map" class="col"
     style="height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
</div>
