<a class="btn btn-action" href="#">Book now</a>
<a class="btn btn-submit" href="#">Book now</a>

<div class="container">
  <div class="card-index">
    <img src="<%= asset_path('house.png') %>" alt="">
    <h2>Address</h2>
    <p> 45 reviews</p>
    <%= link_to 'See property', "#", class: 'btn btn-submit' %>
  </div>
</div>
