.btn-action {
  color: $white;
  background-color: $call-to-action;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 1;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;

  &:hover{
  border: 2px solid $call-to-action;
  color: $call-to-action;
  background-color: $white;
  transform: translateY(-2px);
  }
}
.btn-submit {
  background-color: $green;
  color: $light-green;
  padding: 8px 24px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  opacity: 1;


  &:hover{
    color: $green;
    opacity: 0.6;
  }
}
