.card-slider{
  background-color:$white;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card-slider > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-slider > h2
.card-slider > p {
  color: $dark-green;
}

h2, p {
  padding: 0 5px;
}

.card-slider .btn-submit {
  width: 150px;
}
