h1 {
  color: $dark-green;
}

.l-green {
  color: $light-green;
}
.d-green {
  color: $dark-green;
}
.green {
  color: $green;
}

.bold {
  font-weight: bolder;
  line-height: 1;
}
.semi-bold {
  font-weight: bold ;
}
