.justify-content-center {
  display: flex;
  justify-content: center;
}

.green-table thead > tr > th {
  background-color: $dark-green;
  color: white;
}

.green-table td, th {
  text-align: left;
  padding: 8px;
  border: 1px solid $dark-green;

}

.green-table th {
  color: $green;
}

.green-table td a {
  color: $green;
  &:hover {
    color: $dark-green;
    text-decoration: none;
  }
}

.green-table tr:nth-child(even) {
  background-color: $light-green;
}

.green-table tbody {
  background-color: white;
}

.green-table tbody > tr:hover {
  color: white;
  background-color: $green;
  cursor: pointer;
  a {
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
}
