.bg-green {
  background-color: $green;
  color: white;
  border-radius: 10px 10px 0px 0px !important;
}

.bg-light-green {
  background-color: $light-green;
}

.green-card {
  border-radius: 10px;
}
