.mapboxgl-popup-content {
  text-align: center;

  h2 {
    font-size: 1rem;
  }
}

#map-container {
  padding-top: 1.25rem;
}

#map {
  height: 600px;
}

@include media-breakpoint-up(md) {
  #map-container {
    position: fixed;
    height: 100vh;
    right: -15px;
    top: 0;
    padding-top: 80px;
  }
  #map {
    height: 100%;
    border-radius: 5px;
  }
}
