.mapboxgl-popup-content {
  text-align: center;
}

#map-container {
  padding-top: 1rem;
}

#map {
  height: 600px;
}

.top-map {
  padding-top: 100px;
  height: 40vh;
  margin: 0;
}

@include media-breakpoint-up(md) {
  #map-container {
    position: fixed;
    height: 100vh;
    right: -15px;
    top: 0;
    padding-top: 80px;
  }
  #map {
    height: 100%;
    border-radius: 5px;
  }
}
