// General card
.padding-200 {
  padding-top: 150px;
  min-height: 100vh;
}

.card-show-review{
  background-color: $white;
  width: 80%;
  border-radius: 10px;
  flex-direction: column;
}

.img-review {
  border-radius: 5px;
  margin: 10px;
}

.comments{
  flex-direction: column;
}

// .card-show-review .btn-action {
//     left: 50%;
//     bottom: 0;
//     transform: translate(150%, 50%);
// }

.card-show-review > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.dark-green{
  color: $dark-green;
}
// Score card

.td-call  {
  background-color: $call-to-action;
  width: 20% ;

}

.td-green {
  background-color: $green;
  width: 20% ;
}

.tr-height {
  height: 20px;
}

.table-width{
  width: 100%;
}

.score-card {
  width: 400px;
}



.table-width tr td:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.table-width tr td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width: 600px) {
  .card-show-review > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
}
