<div class="container-fluid px-0">
    <div class="jumbotron jumbotron-fluid justify-content-center jumbotron-header">
      <h1>Landlords</h1>
    </div>
      <div class="row justify-content-center" id="landlord-list">
        <div class="col-8 mx-5">
          <div class="table-headers-green">
            <p class="table-item-left">Name</p>
            <p class="table-item-center">Properties</p>
            <p class="table-item-center">Average rating</p>
          </div>
          <% @landlords.each do |landlord| %>
                <%= link_to landlord_path(landlord) do %>
                  <div class="table-body">
                    <p class="table-item-left"><%= landlord.name %></p>
                    <p class="table-item-center"><%= landlord.properties.count %></p>
                    <p class="table-item-center">★★★</p>
                  </div>
                <% end %>
          <% end %>
        </div>
      </div>
</div>
