<div class="container">
  <div class="row">
    <div class="col">
      <h1>Create a new landlord</h1>
      <%= simple_form_for @landlord do |f| %>
        <%= f.input :name, placeholder: "e.g. John Doe" %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
