<div class="container">
  <div class="row">
    <div class="col">
      <h1>Landlord name: <%= @landlord.name %></h1>
      <% @properties.each do |property| %>
      <%= property.address %>
      <% end %>
    </div>
  </div>
</div>
